---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="אודות | רברס עם פלטפורמה">
	<section class="article">
		<h1>אודות</h1>
		<div class="content">
			<h2>מה אנחנו עושים פה?</h2>
			<p>
				אנחנו מקליטים מדי שבוע פודקאסט של חצי שעה כדי שיהיה לכם משהו מעניין לשמוע בדרך לעבודה
				(או ממנה). הפודקאסט עוסק בנושאי טכנולוגיה, תכנה ואינטרנט ועוד כמה אנקדוטות מחיי היום יום
				שלנו כחברים בתעשיה הזו.
			</p>
			<p>
				זהו, חשבנו שכדאי שקולם של "פועלי התכנה העבריים" יישמע (ואם לא אז לפחות הקול של רן), אז
				אנחנו מקליטים את זה בשבילכם.
			</p>
			<p>תהנו!</p>
			<p>
				רן (רן @ רברסים.קום) ואורי (אורי @ רברסים.קום).<br />
				@רברסים
			</p>

			<h2>יצירת קשר</h2>
			<ul>
				<li>
					טוויטר:
					<a href="https://twitter.com/rantav" target="_blank" rel="noreferrer noopener">@rantav</a>,
					<a href="https://twitter.com/orilahav" target="_blank" rel="noreferrer noopener">@orilahav</a>,
					<a href="https://twitter.com/reversim" target="_blank" rel="noreferrer noopener">@רברסים</a>
				</li>
				<li>אימייל: {`{ran|ori}[at]reversim.com`}</li>
			</ul>

			<h2>עוד קישורים</h2>
			<ul>
				<li>
					<a href="https://summit.reversim.com/" target="_blank" rel="noreferrer noopener">Reversim Summit</a>
				</li>
				<li>
					<a href="https://www.facebook.com/groups/reversim" target="_blank" rel="noreferrer noopener">
						קבוצת פייסבוק
					</a>
				</li>
				<li>
					<a href="https://groups.google.com/g/reversim-summit" target="_blank" rel="noreferrer noopener">
						Google Group
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/reversim-summit/" target="_blank" rel="noreferrer noopener">
						LinkedIn
					</a>
				</li>
			</ul>
		</div>
	</section>
</BaseLayout>
