---
const { page } = Astro.props;
---

<div class="pagination">
	{page.url.prev ? <a href={page.url.prev}>הקודמים</a> : <span></span>}
	{page.url.next ? <a href={page.url.next}>הבאים</a> : <span></span>}
</div>
